.page {
    padding: var(--page-padding);
    height: var(--body-height);
    display: flex;
    justify-content: center;
}
.hero-container {
    position: relative;
    width: min(90vw, 960px);
    height: inherit;
    overflow: auto;
    background-image: url("landing-image.webp");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.hero-list {
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.hero-logo-container {
    display: flex;
    justify-content: center;
}
.hero-logo {
    width: 20%;
    height: auto;
}
