@page "/home"

<PageTitle>Home</PageTitle>

<div class="page">
    <div class="hero-container">
        <div class="hero-list">
            <div>
                <p class="fs-1 fw-bold">View Menu</p>
                <p class="fs-3">Explore our fresh smoothies and salads only—see ingredients, sizes, and prices at a glance.</p>
            </div>
            <div>
                <p class="fs-1 fw-bold">Order Online</p>
                <p class="fs-3">Customize your smoothie or salad and schedule a pickup time (no delivery).</p>
                <p class="fs-3">Please order at least 20 minutes before your pickup.</p>
            </div>
            <div>
                <p class="fs-1 fw-bold">Track Order</p>
                <p class="fs-3">Enter your email and the order code shown after checkout to see real-time status until it’s ready for pickup.</p>
            </div>
            <div class="hero-logo-container">
                <img src="logo.png" alt="Takeaway Titan logo"  class="hero-logo"/>
            </div>
        </div>
        
    </div>
</div>
