@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --cream: #efe7d0;
    --deep-green: #204d43;
    --amber: #cf8930;
    --page-padding: 20px;
    --max-btn-width: min(350px, 100%);
    --max-content-width: min(700px, 100%);
    --nav-height: 100px;
    --footer-height: 56px;
    --body-height: calc(100vh - var(--nav-height) - var(--footer-height))
}

body {
    font-family: 'Nunito', sans-serif;
}