@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --cream: #efe7d0;
    --deep-green: #204d43;
    --amber: #cf8930;
}

body {
    font-family: 'Nunito', sans-serif;
}
