<div class="footer-container">
    &copy; @currentYear Takeaway Titans @team
</div>
@code {
    private string currentYear = DateTime.Now.Year.ToString();
    private string team = "CSE325-Block5-Team16";
}