@page "/admin-login"
<PageTitle>Admin Login</PageTitle>
<div class="page">
    <EditForm class="form-container">
        <div class="form-item">
            <label>Username</label>
            <InputText></InputText>
        </div>
        <div>
            <label>Password</label>
            <InputText></InputText>
        </div>
    </EditForm>
</div>

@code {

}
