@page "/admin-login"
@rendermode InteractiveServer
@using System.Data.Common
@using Microsoft.EntityFrameworkCore
@using System.Drawing
@using TakeawayTitans.Data
@using TakeawayTitans.Models

@inject IDbContextFactory<TakeawayTitansContext> DbFactory

<PageTitle>Admin Login</PageTitle>
<div class="page">
    <EditForm Model="LoginUser" method="post" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label>Email: <span class="text-danger">*</span></label>
            <div>
                <TextInput @bind-value="@LoginUser.Email" Placeholder="Enter email address" class="fs-4"/>
                <ValidationMessage For="() => LoginUser.Email" />
            </div>
        </div>
        <div class="form-group">
            <label>Password: <span class="text-danger">*</span></label>
            <div>
                <PasswordInput @bind-value="@LoginUser.Password" Placeholder="Enter password" class="fs-4"/>
                <ValidationMessage For="() => LoginUser.Password" />
            </div>
        </div>
        <div class="row">
            <Button Type="ButtonType.Reset" @onclick="ResetForm" class="button btn-reset fs-4">Reset</Button>
            <Button Type="ButtonType.Submit" class="button btn-login fs-4">Login</Button>
        </div>
    </EditForm>
</div>

@code {
   private User LoginUser = new ();
   private bool showPassword = false;
   private void HandleLogin()
   {
    // do something
   }
   private void ResetForm()
   {

   }

}
