@page "/admin-login"
@rendermode InteractiveServer
@using System.Data.Common
@using Microsoft.EntityFrameworkCore
@using System.Drawing
@using Microsoft.EntityFrameworkCore.Internal
@using System.Threading.Tasks
@using TakeawayTitans.Data
@using TakeawayTitans.Models

@inject IDbContextFactory<TakeawayTitansContext> DbFactory
@inject NavigationManager Navigation

<PageTitle>Admin Login</PageTitle>
<div class="page">
    <EditForm Model="LoginUser" method="post" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        @if (errorMessage is not null)
        {
            <div class="text-danger">@errorMessage</div>
        }
        <div class="form-group">
            <label>Email: <span class="text-danger">*</span></label>
            <div>
                <TextInput @bind-value="@LoginUser.Email" Placeholder="Enter email address" class="fs-4"/>
                <ValidationMessage For="() => LoginUser.Email" />
            </div>
        </div>
        <div class="form-group">
            <label>Password: <span class="text-danger">*</span></label>
            <div>
                <PasswordInput @bind-value="@LoginUser.Password" Placeholder="Enter password" class="fs-4"/>
                <ValidationMessage For="() => LoginUser.Password" />
            </div>
        </div>
        <div class="row">
            <Button Type="ButtonType.Reset" @onclick="ResetForm" class="button btn-reset fs-4">Reset</Button>
            <Button Type="ButtonType.Submit" class="button btn-login fs-4">Login</Button>
        </div>
    </EditForm>
</div>

@code {
    private User LoginUser = new ();
    private string errorMessage = string.Empty;
    private async Task HandleLogin()
    {
        try 
        {
            errorMessage = string.Empty;
            using var context = await DbFactory.CreateDbContextAsync();
            var correctUser = await context.Users.FirstOrDefaultAsync(user => user.Email == LoginUser.Email);

            if (correctUser is null)
            {
                errorMessage = "Invalid user or password";
                return;
            }

            var isPasswordValid = BCrypt.Net.BCrypt.Verify(LoginUser.Password, correctUser.PasswordHash);
            if (!isPasswordValid)
            {
                errorMessage = "Invalid user or password";
                return;
            }

            if (correctUser.Role != UserRole.Admin)
            {
                errorMessage = "Access denied";
                return;
            }

        Navigation.NavigateTo("/admin-dashboard");
        }
        catch (DbException ex)
        {
            errorMessage = "Something wrong with database.  Please try again later.";
            Console.WriteLine(ex.Message);
        }
        catch (Exception ex)
        {
            errorMessage = "Something wrong! Please try again later";
            Console.WriteLine(ex.Message);
        }

    }
   private void ResetForm()
   {
    LoginUser = new();
    errorMessage = string.Empty;
    StateHasChanged();
   }
}
