@page "/"
@layout Layout.EmptyLayout
@using TakeawayTitans.Components.Layout
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Takeaway Titans</PageTitle>
<div class="page">
    <div class="hero-container">
        <img src="landing-image.webp" alt="wooden board with vegetable and bread" class="hero-image"/>
        <div class="hero-title-container">
            <p class="hero-title">Takeaway Titans</p>
            <p class="hero-subtitle">Pick-Up Right Away</p>
        </div>
    </div>
    <div class="btn-container">
        <button type="button" class="btn btn-menu" @onclick="GoToMenu">VIEW MENU</button>
        <button type="button" class="btn btn-order" @onclick="GoToOrder">ORDER ONLINE</button>
        <button type="button" class="btn btn-track" @onclick="GoToTrack">TRACK ORDER</button>
    </div>
    <Footer />
</div>

@code {
    private void GoToMenu() => Navigation.NavigateTo("/menu");
    private void GoToOrder() => Navigation.NavigateTo("/order");
    private void GoToTrack() => Navigation.NavigateTo("/track");
}
