@page "/access-denied"
@using System.Drawing

<PageTitle>Access Denied</PageTitle>
<div class="row page">
    <div class="alert-container">
        <div class="text-center">
            <Icon Name="IconName.XCircle" Size="IconSize.x1" Color="IconColor.Danger" />
        </div>
        <p class="text-center fs-4">
            You don't have the permission to access this page.
        </p>
    </div>
</div>
