@page "/admin-login"
@rendermode InteractiveServer
@using System.Data.Common
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@using TakeawayTitans.Data
@using TakeawayTitans.Models
@using System.Net.Http.Json

@inject NavigationManager Navigation
@inject HttpClient Http

<PageTitle>Admin Login</PageTitle>
<div class="page">
    <EditForm Model="LoginUser" method="post" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        @if (errorMessage is not null)
        {
            <div class="text-danger">@errorMessage</div>
        }
        <div class="form-group">
            <label>Email: <span class="text-danger">*</span></label>
            <div>
                <TextInput @bind-value="@LoginUser.Email" Placeholder="Enter email address" class="fs-4" />
                <ValidationMessage For="() => LoginUser.Email" />
            </div>
        </div>
        <div class=form-group>
            <label>Password: <span class="text-danger">*</span></label>
            <div>
                <TextInput @bind-value="@LoginUser.Password" Placeholder="Enter password" Class="fs-4" />
                <ValidationMessage For="() => LoginUser.Password" />
            </div>
        </div>
        <div class="row">
            <Button type="ButtonType.Button" @onclick="ResetForm" class="button btn-reset fs-4">Reset</Button>
            <Button type="ButtonType.Submit" class="button btn-login fs-4">Login</Button>
        </div>
    </EditForm>
</div>


@code {
    private LoginModel LoginUser = new ();
    private string errorMessage = string.Empty;
    [CascadingParameter]
    private Task<AuthenticationState> AuthTask {get; set;} = default!;
    private ClaimsPrincipal? user;
    protected override async Task OnInitializedAsync()
    {
        user = (await AuthTask).User;
    }

    private async Task HandleLogin()
    {
        try 
        {
            errorMessage = string.Empty;
            var dto = new LoginRequest(LoginUser.Email, LoginUser.Password, true);
            var response = await Http.PostAsJsonAsync(Navigation.ToAbsoluteUri("/api/auth/admin-login"), dto);
            Console.WriteLine(response);

            if (response.IsSuccessStatusCode)
            {
                Navigation.NavigateTo("/admin-dashboard", true);
            }
            else
            {
                errorMessage = await response.Content.ReadAsStringAsync();
                
            }
        }
        catch (DbException ex)
        {
            errorMessage = "Something wrong with database.  Please try again later.";
            Console.WriteLine(ex.Message);
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            Console.WriteLine(ex.Message);
        }
    }

    private void ResetForm()
    {
        LoginUser = new();
        errorMessage = string.Empty;
        StateHasChanged();
    }
}
