<nav class="nav-container">
        <NavLink href="/menu" Match="NavLinkMatch.All" class="tab">View Menu</NavLink>
        <NavLink href="/order" Match="NavLinkMatch.Prefix" class="tab">Order Online</NavLink>
        <NavLink href="/track" Match="NavLinkMatch.Prefix" class="tab">Track Order</NavLink>
</nav>
