.page {
    padding: var(--page-padding);
    min-height: var(--body-height);
}
.alert-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}