@page "/admin-dashboard"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<PageTitle>Admin Dashboard</PageTitle>
<div class="page">
    <div>
        <AuthorizeView>
            <Authorized Context="auth">
                <h1>
                    Admin Dashboard 
                    <span class="user">
                        (@auth.User.Identity?.Name)
                    </span>
                    <iconify-icon icon="la:tools" width="32" height="32" />
                </h1>
                <div class="button-container">
                    <button type="button" class="button" @onclick="GoToOrder">
                        <div>
                            <iconify-icon icon="lets-icons:order-duotone-line" width="40" height="40" />
                            <p>See Orders</p>
                        </div>
                    </button>
                    <button type="button" class="button" @onclick="GoToMenu">
                        <div>
                            <iconify-icon icon="ic:twotone-menu-book" width="40" height="40" />
                            <p>Manage Menu</p>
                        </div>
                    </button>
                    <button type="button" class="button" @onclick="GoToProfile" disabled>
                        <div>
                            <iconify-icon icon="iconamoon:profile-duotone" width="40" height="40" />
                            <p>Manage Profile</p>
                        </div>
                    </button>

                </div>
            </Authorized>
            <NotAuthorized>
                <p>Not Authorized User</p>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    void GoToOrder()
    {
        Navigation.NavigateTo("/admin-order", forceLoad: true);
    }

    void GoToMenu()
    {
        Navigation.NavigateTo("/admin-menu", forceLoad: true);
    }

    void GoToProfile()
    {
        Navigation.NavigateTo("/admin-profile", forceLoad: true);
    }
}